//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Sun 06 18 00:41:23 2023

IO_LOC "test3" 33;
IO_PORT "test3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "test2" 30;
IO_PORT "test2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "test" 28;
IO_PORT "test" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "reset" 27;
IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "data" 26;
IO_PORT "data" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "clock_data" 25;
IO_PORT "clock_data" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
